python/venv/
*__pycache__
*nWaveLog
*INCA_libs
*.fsdb
*.log
*verdiLog
*vfastLog
*.jpg
*.bak
DE2_115_TOONIFY/db/
DE2_115_TOONIFY/demo_batch/
DE2_115_TOONIFY/incremental_db/
DE2_115_TOONIFY/DE2_115_TOONIFY_description.txt
DE2_115_TOONIFY/DE2_115_TOONIFY.asm.rpt
DE2_115_TOONIFY/DE2_115_TOONIFY.done
DE2_115_TOONIFY/DE2_115_TOONIFY.fit.*
DE2_115_TOONIFY/DE2_115_TOONIFY.flow.rpt
DE2_115_TOONIFY/DE2_115_TOONIFY.jdi
DE2_115_TOONIFY/DE2_115_TOONIFY.map.*
DE2_115_TOONIFY/DE2_115_TOONIFY.qws
DE2_115_TOONIFY/DE2_115_TOONIFY.sld
DE2_115_TOONIFY/DE2_115_TOONIFY.sof
DE2_115_TOONIFY/DE2_115_TOONIFY.sta.*
DE2_115_TOONIFY/PLLJ_PLLSPE_INFO.txt
DE2_115_TOONIFY/stp1.stp