python/venv/
*__pycache__
*nWaveLog
*INCA_libs
*.fsdb
*.log
*verdiLog
*vfastLog
*.jpg
*.bak
DE2_115_CAMERA/db/
DE2_115_CAMERA/demo_batch/
DE2_115_CAMERA/incremental_db/
DE2_115_CAMERA/DE2_115_CAMERA_assignment_defaults.qdf
DE2_115_CAMERA/DE2_115_CAMERA_description.txt
DE2_115_CAMERA/DE2_115_CAMERA.asm.rpt
DE2_115_CAMERA/DE2_115_CAMERA.done
DE2_115_CAMERA/DE2_115_CAMERA.fit.*
DE2_115_CAMERA/DE2_115_CAMERA.flow.rpt
DE2_115_CAMERA/DE2_115_CAMERA.jdi
DE2_115_CAMERA/DE2_115_CAMERA.map.*
DE2_115_CAMERA/DE2_115_CAMERA.qpf
DE2_115_CAMERA/DE2_115_CAMERA.qsf
DE2_115_CAMERA/DE2_115_CAMERA.qws
DE2_115_CAMERA/DE2_115_CAMERA.sld
DE2_115_CAMERA/DE2_115_CAMERA.sof
DE2_115_CAMERA/DE2_115_CAMERA.sta.*
DE2_115_CAMERA/PLLJ_PLLSPE_INFO.txt
DE2_115_CAMERA/stp1.stp
